.collapsible .content {
    padding: 6px;
    background-color: transparent;
    border: solid 1px black;
}

.collapsible .header {
    background-color: #E9B868;
    padding: 6px;
    cursor: pointer;
    border: solid 1.5px black;
    text-align: center;
    font-size: 2.8vw;
}

@media screen and (min-width: 1350px) {
    .collapsible .header {
        font-size: 44px;
    }
}