#footer {
    /* height: 18vh; */
    margin-top: 8vh;
    margin-bottom: 4vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.footerContent {
    text-align: center;
}

.footerContent p {
    margin-top: 3vh;
    font-size: 2.5vw;
}

